@{
    ViewData["Title"] = "Privacy";
}
<body>

    <div style="padding: 200px 80px;text-align: center; background-image: url(http://www.vimodarq.com/wp-content/uploads/2023/08/P16.webp); background-size: cover; background-position: center;">
        <h2 style="font-weight: bold;font-size: 2em; color: #fff">ESTUDIO DE ARQUITECTURA</h2>
        <p style="font-weight: bold;font-size: 1.3em; color: #fff; max-width: 1200px; margin: 0 auto;">
            Más de 4 años de experiencia en el mercado
        </p>
    </div>

    <div style="display: flex; justify-content: space-around; padding: 20px; margin: 0px auto; max-width: 1000px; background-color: #3c3c3c; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style="text-align: center;">
            <h3 style="margin: 0; font-size: 1.2em; color: #fff;font-weight: bold;">1,300+</h3>
            <p style="font-weight: bold; margin: 5px 0; color: #fff;">Estudiantes</p>
        </div>
        <div style="text-align: center;">
            <h3 style="margin: 0; font-size: 1.2em; color: #fff;font-weight: bold;">10+</h3>
            <p style="font-weight: bold;margin: 5px 0; color: #fff;">Cursos</p>
        </div>
        <div style="text-align: center;">
            <h3 style="margin: 0; font-size: 1.2em; color: #fff;font-weight: bold;">6+</h3>
            <p style="font-weight: bold; margin: 5px 0; color: #fff;">Recursos</p>
        </div>
        <div style="text-align: center;">
            <h3 style="margin: 0; font-size: 1.2em; color: #fff; font-weight: bold;">80+</h3>
            <p style="font-weight: bold; margin: 5px 0; color: #fff;">Horas de contenido</p>
        </div>
    </div>

    <div style="text-align: center;">
        <h2 style="padding: 15px; font-size: 1.1em">NUESTRA MISION</h2>
        <p style="padding: 15px; font-size: 0.9em; color: #000; max-width: 1000px; margin: 0 auto;">
            Promover la excelencia en el campo de la arquitectura con un enfoque especializado en los programas de Archicad, Lumion, y Photoshop, proporcionando a nuestros estudiantes las herramientas y conocimientos necesarios para destacar en la industria.
        </p>
    </div>
    <div style="text-align: center;">
        <h2 style="padding: 15px; font-size: 1.1em">NUESTRA VISION</h2>
        <p style="padding: 15px; font-size: 0.9em; color: #000; max-width: 1000px; margin: 0 auto;">
            Expandir nuestra presencia más allá de Latinoamérica y llegar a estudiantes de todo el mundo que deseen desarrollar sus habilidades en los programas de Archicad, Lumion y Photoshop.
        </p>
    </div>
    <div style="text-align: center;">
        <h2 style="padding: 15px; font-size: 1.1em">NUESTROS VALORES</h2>
        <p style="padding: 15px; font-size: 0.9em; color: #000; max-width: 1000px; margin: 0 auto;">
            Excelencia - Pasión - Innovación - Adaptabilidad - Integridad - Compromiso con el éxito del estudiante.
        </p>
    </div>
</body>